<div class="flex flex-col p-3 border border-gray-400">
  <ng-container *ngIf="$gameDetails | async; else gameDetailsLoading">
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold">{{ team.full_name }} [{{ team.abbreviation }}]</h2>
      <button (click)="removeTrackedTeam()" class="px-3 py-2 font-bold"
              id="remove{{team.abbreviation}}">
        x
      </button>
    </div>
    <p class="mt-2">
      {{ team.conference | titlecase }}ern conference
    </p>
    <div class="mt-2 pt-3 flex border-t-2 border-gray-400">
      <div class="flex flex-col results">
        <span>Results of past 12 days:</span>
        <app-last-games [lastGamesWon]="lastGamesWon"></app-last-games>
        <div>Avg pts scored:
          <span class="font-bold">{{ averagePointsScored | number: '1.0-0' }}</span>
        </div>
        <div>Avg pts conceded:
          <span class="font-bold">{{ averagePointsConceded | number: '1.0-0' }}</span>
        </div>
      </div>
      <img alt="logo" class="logo" src='https://interstate21.com/nba-logos/{{team.abbreviation}}.png'>
    </div>
    <a [routerLink]="[APP_PATHS.RESULTS, team.id]" class="w-fit">
      <button class="px-4 py-2 font-semibold text-sm bg-green-700 text-white shadow-sm"
              id="results{{team.abbreviation}}">
        See game results >>
      </button>
    </a>
  </ng-container>
  <ng-template #gameDetailsLoading>
    Getting latest team results for {{ team.name }}...
  </ng-template>
</div>
